.check::before {
  content: "✓";
  color: #0ec60a;
  padding: 0 20px 0 0;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  line-height: 2.5rem;
}
#top {
  background-color: white;
}
h2 {
  color: black !important;
}
.logo:hover {
  cursor: pointer;
}
#ach-sir {
  color: #0ec60a;
  font-weight: bold;
}
@media (max-width: 660px) {
  .logo {
    display: none;
  }
  #rhap {
    margin-top: 80px;
  }
  .foo {
    margin-top: 100px;
    height: 1400px;
    padding-top: 30px;
  }
  .foo .col-sm {
    padding-top: 30px;
  }
}
.foo {
  background-image: url("../assets/images/Footer.jpg");
  background-size: cover;
}
.foo a {
  color: white;
}
.foo a:hover {
  color: #0ec60a;
}
i {
  color: #0ec60a;
}
@media (min-width: 660px) {
  #lists {
    padding-left: 150px;
  }
  #rhap {
    margin-top: 100px;
  }
  .foo {
    height: 400px;
    padding-top: 50px;
    margin-top: 100px;
  }
}
#nav-bar li {
  padding: 5.7px 20px;
}
p {
  font-size: 18px;
  color: #6c757d;
}
h2 {
  font-size: 36px;
  color: white;
}
